@layout('layouts.main')

@section('title')
Página Inicial do TrabMA
@endsection

@section('content')
  <h1>Todos os empregos</h1>

  <div class="trab-container">
    <div class="blank"></div>
    <div class="trab-info">
      <h3>Titulo do Trabalho</h3>
      <p>descrição do trabalho</p>
    </div>
  </div>
@endsection